*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
   float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.fix-width{
    max-width:1300px;
    margin: auto;
}


/* main css */
body,h1,h2,h3,h4,span,p,a,h6{
    font-family: 'Work Sans', sans-serif;
}
.header-section{
    background-color: lavender;
    border-bottom: 1px solid rgb(26, 24, 24);
    padding: 6px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.header-section a{
    color: rgb(65, 57, 57);
}
.header-logo{
width: 30%;
}
.header-menu{
width: 43%;
}

.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 60px;
}
.primary-menu ul li a:hover{
    color: steelblue;
}

.logo img{
height: 60px;
float: left;
}
.logo span{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
}
.header-btn{
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 8px 23px;
    margin-top: 10px;
    font-size: 15px;
}
  /* drop down menu */
  .primary-menu ul li{
     position: relative;
  }
  .primary-menu ul li ul{
      position: absolute;
      left: 0;
      top: 100%;
      width: 200px;
      background-color: whitesmoke;
      opacity: 0;
      visibility: hidden;
      transition: .4s;
    transform: scaley(0);
    transform-origin: top center;
    border-bottom: 1px solid rgb(46, 42, 42);
  }
  .primary-menu ul li ul li{
      display: block;
  }
  .primary-menu ul li:hover ul{
      opacity: 1;
      visibility: visible;
      transform: scaley(1);
      z-index: 4;
  }


  /* benner-section */
.benner-section{
background: url(https://i.postimg.cc/QtJ71PXs/kobu-agency-IWLR561-Yb-MY-unsplash.jpg) no-repeat center center;
background-size: cover;
padding: 200px 0;
color: white;
position: relative;
z-index: 3;
margin-top: 70px;
}
.benner-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .4);
    z-index: -1;
}
.benner-content{


  }
.benner-content h2{
    font-size: 65px;
    margin: 32px 0;
}
.benner-content h3{
    font-weight: 400;
    font-size: 26px;
}
.default-btn{
color: rgb(109, 101, 101);
padding: 15px 25px;
display: inline-block;
font-size: 20px;
font-weight: 600;
background-color: #ffffff;
margin-right: 5px;
border-radius: 10px;
transition: .4s;
}
.default-btn:hover{
    background-color: blue;
    color: white;
}
 /* benner-section */



/* pricing-table-item */

.pricing-table-section{
    background-color: #f7f7f7;
    padding: 50px;
}
.section-title h2{
font-size: 56px;
font-weight: 400;
margin-bottom: 20px;
}
.section-title p{
    font-size: 26px;
    font-weight: 400px;

}
.pricing-tables{
margin-top: 80px;
}

.pricing-table-item{
    width: 30.3%;
    margin-right: 2%;
    background-color: #ffffff;
    box-shadow: 3px 4px 30px 0 rgb(44, 36, 36);
    transition: .4s;
}
.pricing-table-item:hover .p-heading{
   background-image: linear-gradient(blue, yellow);
    color: white;
}
.pricing-table-item:nth-child(3){
    margin-right: 0;
}
.p-heading{
padding: 30px;
border-bottom: 1px solid black;
}
.p-content{
padding: 30px;
}
.p-heading h1{
    margin: 42px 0;
    font-size: 55px;
}
.p-heading h1 span{
    font-size: 26px;
}
.p-heading h4{
    font-size: 25px;
    font-weight: 500;
}
.p-heading h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
  
}
.p-heading p{
    font-size: 20px;
    line-height: 1.5em;
}
.p-content ul{
list-style-type: none;
}
.p-content ul li{
    margin: 30px 0;
    font-size: 20px;
}
.p-content ul li span{
    display: inline-block;
    font-size: 30px;
    color: #e79230;
    width: 40px;
}
.p-heading h1{
    background-color: #f5f5f5;
}
.p-heading h1:hover{
    background-image: linear-gradient(blue, red);
   color: black;
}
.p-button .default-btn{
    box-shadow: 3px 4px 30px 0 rgb(44, 36, 36);
}


/* team-section */
.team-section{
padding: 50px 0;
}
.team-section h2{
    font-size: 40px;
    margin-bottom: 40px;
}
.section-tittle{}
.team-members{}
.member{
width: 23%;
margin-right: 1%;
background-color: white;
box-shadow: 3px 4px 20px 0 rgb(44, 36, 36);
border: 4px double coral;
}
.member img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.member-bio{
padding: 30px;
}
.member-bio h4{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}
.member-bio p{
    color: #767676;
    font-size: 20px;
}



/* newslatter-section */
.newslatter-section{
    background-color: #f5f5f5;
    padding: 50px 0;
}
.newslatter-title h2{
    margin: 40px 0;
}
.default-input{
    width: 350px;
    padding: 20px 15px;
    font-size: 20px;
    border: 1px solid rgb(54, 50, 50);
    border-radius: 10px;
    box-shadow: 3px 4px 40px 0 rgba(44, 36, 36, .1);
    transition: .4s;
    box-sizing: border-box;
}
.newslatter-form .w100{
    width: 52%;
    display: block;
    margin: auto;
      margin-bottom: 15px;
}
.default-input:focus{
    box-shadow: 3px 4px 40px 0 rgba(44, 36, 36, .5);
    color: #aa972c;
}
.newslatter-form{}
.submit-btn{
   background-color: #aa972c;
    color: white;
font-size: 20px;
font-weight:600;
border: none;
padding: 22px 90px;
border-radius: 10px;
display: inline-block;
margin-left: 10px;
cursor: pointer;
transition: .4s;
border: 2px solid transparent;
box-shadow: 3px 4px 40px 0 rgba(44, 36, 36, .1);
}
.submit-btn:hover{
    background-image: linear-gradient(90deg,yellow, rgb(17, 207, 49));
    box-shadow: 3px 4px 40px 0 rgba(44, 36, 36, .5);
    border: 2px solid blue;
}



/* blog-section */
.blog-section{
    background-color: #ffffff;
    padding: 30px 0;
}
.blog-section h2{
    font-size: 50px;
    font-weight: 500;
    margin-top: 20px;
   text-align: center;
}
.blog-tittle{
    margin-right: 2%;
    padding: 51px 0;
}

.b-heading{
    width: 48%;
}
.b-heading img{
   width: 100%;
}
.bt-content{
    width: 48%;
}
.bt-content p{
    color: #767676;
    line-height: 1.6em;
    font-size: 20px;
}
.blog-items{
    margin-right: 2%;

}
.bt-content h3{
   font-size: 25px;
  margin: 20px 0;
   font-weight: 500;
}


/* testimonial-section  */
.testimonial-section{
    background-color: #f5f5f5;
    padding: 100px 0;
}
.testimonial-item{
    margin-top: 100px;
}
.i-item{
    width: 32%;
    margin-right: 2%;
    border: 1px solid #767676;
    box-sizing: border-box;
    padding-bottom: 15px;
}
.i-item:last-child{
    margin-right: 0;
}
.t-content{
    background-color: #fff;
    box-shadow: 3px 4px 40px 0 rgba(44, 36, 36, .2);
    padding:50px 40px;
    box-sizing: border-box;
    margin-bottom: 50px;
    position: relative;
}
.t-content::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
height: 0;
border-style: solid;
border-width: 20px 20px 0 20px;
border-color: #fff transparent transparent transparent;

}
.t-user-img{
    width: 250px;
    margin: auto;
}
.t-user-img img{
    width: 90px;
    height: 90px;
      float: left;
    margin-right: 20px;
    border: 10px solid #aa972c;
}
.t-user-bio{
   position: relative;
   top: 10px;
}
.t-user-bio h4{
font-size: 18px;
font-weight: 80px;
margin: auto;
}
.t-user-bio span{
    font-size: 18px;
    color: #767676;
    z-index: -2;
}


.t-content p{
    color:#767676;
    font-size: 20px;
    line-height: 1.8em;
    position: relative;
    margin-bottom: 0;
   }
.t-content span{
    font-size: 82px;
    position: absolute;
    opacity: .4;
    left: -22px;
    top: -35px;
}


/* contact-section */
.contact-sction{
    padding-top: 100px;
}


.contact-right-form{
    width: 60%%;
    margin-top: 35px;
}
.contact-right-form h4{
font-size: 25px;
font-weight: 500;
margin-bottom: 20px;

}
.contact-right-form p{
font-size: 18px;
color: #767676;
line-height: 1.6em;
}
.footer-contact-form{
    margin-top: 60px;
}
.footer-contact-form .w100{
    width: 100%;
}
.footer-contact-form .w50{
    width: 40%;
}
.footer-contact-form .default-input{
margin-bottom: 20px;
}
.footer-contact-form textarea{
    height: 200px;
}
.footer-contact-form .submit-btn{
    margin-left: 0;
}


/* footer */
.footer{
    font-size: 20px;
    font-weight: bold;
      padding: 20px;
    color: rgb(65, 64, 66);
}